/* ---------------------------- RESET STYLES -------------------------------------*/

body {
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: rgb(0, 47, 86);
  color: whitesmoke;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* ---------------------------- MOBILE -------------------------------------*/

.container {
  width: 90%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

h1 {
  margin-bottom: 20px;
}

.header-accent {
  color: rgb(25, 170, 25);
  border-bottom: 2px solid rgb(25, 170, 25);
  padding-bottom: 8px;
}

.password-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 250px;
  height: 40px;
  padding: 8px;
  border: none;
  border-radius: 3px;
  outline: 0;
}

input:hover,
input:focus {
  border: 1px solid rgb(25, 170, 25);
}

input::placeholder {
  font-size: 14px;
}

img {
  max-width: auto;
  background-color: transparent;
  cursor: pointer;
}

.password-container img {
  margin-left: -25px;
}

.password-container img:active {
  transform: scale(95%);
}

button img {
  margin-right: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  cursor: pointer;
  min-width: 200px;
  min-height: 40px;
  padding: 10px;
  color: whitesmoke;
  background-color: rgb(25, 170, 25);
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 200ms ease-in;
}

button:hover,
button:focus {
  background-color: green;
}

button:active {
  transform: scale(95%);
}

/* ---------------------------- TABLET -------------------------------------*/

@media screen and (min-width: 768px) {
  body {
    text-align: left;
    font-size: 20px;
  }

  .container {
    margin-top: 200px;
    align-items: flex-start;
  }

  .password-container {
    margin: 0;
  }

  input {
    width: 400px;
    height: 50px;
  }

  input::placeholder {
    font-size: 16px;
  }

  .password-container img {
    margin-left: -30px;
  }

  button {
    margin: 0;
    align-self: flex-start;
    font-size: 16px;
  }
}

/* ---------------------------- DESKTOP -------------------------------------*/

@media screen and (min-width: 1280px) {
  body {
    text-align: left;
    font-size: 30px;
  }

  .container {
    margin-top: 300px;
    align-items: flex-start;
  }

  input {
    width: 600px;
    height: 60px;
  }

  input::placeholder {
    font-size: 20px;
  }

  img {
    width: 25px;
    height: 29px;
  }

  .password-container img {
    margin-left: -40px;
  }

  button {
    margin: 20px 0;
    align-self: flex-start;
    font-size: 25px;
    padding: 15px;
  }

  button:active {
    transform: scale(94%);
  }
}
